@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('../font/Roboto_Slab/static/RobotoSlab-Bold.ttf');
}

body {
    background-image: url('../img/background.png');
    margin: 0;
    font-family: 'Roboto Slab';
}

body * {
    transition: ease-in-out;
    transition-property: height, width, margin, padding;
    transition-duration: 0.25s;
}

h1, h3 {
    margin-top: 0;
}

body b {
    font-family: 'Roboto Slab Bold';
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%
}

hr {
    width: 100%;
}

#profile-image {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    border-style: dashed;
    border-width: 0.15em;
    padding: 0.15em;
    border-color: #6c757d;
}

#contact-details-container {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

#contact-details-container h1 {
    text-align: center;
}

#contact-details-container span {
    display: block;
}

#contact-details-container span i {
    margin-right: 0.15em;
}

#project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 92%;
    padding: 4%;
    margin: 2% 0;
    background-image: url('../img/card-background.png');
    background-color: white;
}

@media screen and (min-width: 768px) {
    .project-card {
        width: 42%;
        padding: 2%;
    }
}

@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
        margin: 0 5%;
    }

    #profile-image {
        height: 12em;
        width: 12em;
    }

    #contact-details-container h1 {
        text-align: left;
    }

    #contact-details-container {
        margin-left: 10%;
    }

    .project-card {
        width: 25%;
    }
}

@media screen and (min-width: 1200px) {
    header {
        margin: 2% 10%;
    }

    #profile-image {
        height: 15em;
        width: 15em;
    }
}

@media screen and (min-width: 1400px) {
    .project-card {
        width: 17%;
    }
}