body {
    background-image: url('../images/soft_wallpaper.png');
}

.badge {
    font-size: 0.75rem;
}

#about-details-avatar-image {
    max-width: 250px;
}

@media only screen and (max-width: 990px) {
    #about-details-avatar-image {
        max-width: 200px;
    }
}

@media only screen and (max-width: 766px) {
    .card-text {
        min-height: 2rem;
    }
}